@model Web.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Hesap Oluştur</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div class="mb-3">
                            <label for="FirstName" class="form-label">Ad</label>
                            <input type="text" asp-for="FirstName" class="form-control" id="FirstName" placeholder="Adınızı girin" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="LastName" class="form-label">Soyad</label>
                            <input type="text" asp-for="LastName" class="form-control" id="FirstName" placeholder="Soyadınızı girin" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="UserName" class="form-label">Kullanıcı Adı</label>
                            <input type="text" asp-for="UserName" class="form-control" id="UserName" placeholder="Kullanıcı adınızı girin" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="E-posta adresinizi girin" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Parola</label>
                            <input type="password" asp-for="Password" class="form-control" id="Password" placeholder="Parolanızı girin" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Parolanı Doğrula</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="Parolanızı tekrar girin" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Kayıt ol</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
}